@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: "Lato", sans-serif;
    color: black;
    background-image: url('./components/Layouts/keys.jpg');
    background-size: cover;

}

.none{
    display:none;
}

.soundwave {
    top:10px;
    right: 5px;
    max-width: 1150px;
    position: fixed;
}

.darker {
    color: black;
}

.containerDiv {
    min-width: 140px;
    max-width: 1500px;
    padding: 10px 20px 40px 80px;
    margin-left: -50px;
}

.recDiv {
    position: relative;
    background-color: rgba(255, 255, 255, 0.575);
    min-width: 140px;
    max-width: 700px;
    padding: 10px 20px 40px 80px;
    margin-left: 300px;
    border: 2px solid black;
}

.visionHeader {
    max-width: 400px;
    min-width: 200px;
    height: auto;
  }

  .resourceText {
      position: relative;
      color: white;
      font-size: 28px;
  }

.resourcesCards {
    height: 378px;
    max-width: 300px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    color: white;
}	

.boldHR {
    background: linear-gradient(to right, #7486eb, #74cfeb, #97dd5e, #f5a05a, #d87fa4, #b867dd, #f0c26d);
    height: 1px;
}


#btn-aquaColor {
   background-color: rgb(74, 192, 153);
   border-bottom-color:  rgb(125, 226, 226);
}

.aqua {
    background-color: rgb(74, 192, 153);
    border-bottom-color:  rgb(125, 226, 226);
}

.speechDeleter {
    background-color: crimson;
    color: white;
    font-size: 19px;
    width: 100px;
    margin: 0 auto;
}

.accordCard {
    width: 500px;
    margin: 0 auto;
}

.speechTitler {
    min-width: 150px;
    max-width: 300px;
    margin: 0 auto; 
    text-align: center;
}

.groupPics {
    height: 100px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

a {
    color: #1d0533;
}

.groupName {
    font-size: 30px;
    font-family: 'Georgia';
}

.voiceContainer {
    text-align: center;
    margin-top: 30px;
}

.teamFix {
    margin: right;
}

.signUpCenter {
    margin: 0 auto;
}

.cardForRecordings {
    position: relative;
    background-color: #ffffffa8;
    width: 540px;
    border: 5px solid black;
    padding: 43px;
    margin: 0 auto;
    z-index: 5;
}

.carousel-inner {
    background-color: #ffffffb6;
    border-radius: 5px;
    border: 2px solid black;
    min-height: 100px;
    max-height: 230px;
}

#carouselExampleControls {
    height: 228px;
    border: 1 px;
}
.carouselTitle {
    text-align: center !important;
    font-size: 16px;
    font-weight: bold;
}
.carouselSignature {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.carousel-item {
    padding: 30px;
    text-align: center;
    font-size: 14px;
}

#emailInputBox {
    margin-left: 100px;
}

.visionDiv {
    position: relative;
    background-color: #ffffffb6;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 5px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.teamDiv {
    position: relative;
    margin-top: 20px;
    background-color: #ffffffb6;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;  
}

.methods {
    background-color: #ffffffb6;
    border: 2px solid #000000;
    margin: 50px;
    border-radius: 5px;  
    min-width: 290px;
    max-height: 900px;
}

.center {
    text-align: center;
    list-style-position: inside;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
  }

.whiteText {
    color: black;
    font-size: 28px;
}
 
@media only screen and (width: 768px) { /*iPAD ONLY*/
    .footer {
        margin-left: 350px;
    }
    .voiceContainer {
        text-align: center;
    }
    .boldHR {
        border: 2px solid black;
    }
    .footer {
        margin-left: 10px;
    }
}

@media only screen and (width: 360px) { /*GALAXY S5 ONLY*/

    .visionDiv {
        margin-left: 60px;
        margin-top: 30px;
    }

    .containerDiv {
    
        max-width: 400px;
        margin-left: -100px;
    }

    .teamDiv {
        margin-left: 60px;
    }

    .carousel {
        margin-left: 60px;
    }

    #carouselExampleControls {
        height: 300px;
    }

    .carousel-inner {
        max-height: 300px;
    }

    .accordCard {
        width: 280px;
        margin-left: 52px;
    }
    .speechTitler {
        margin-left: 60px;
    }

}

@media only screen and (width: 411px) {  /* PIXEL 2/2XL ONLY */
    .containerDiv {
        margin-left: -80px;
        width: 500px;
    }

    .carousel-inner {
        margin-left: 10px;
        max-width: 420px;
    }

    .visionDiv {
        margin-top: 20px;
        margin-left: 30px;
    }

    .teamDiv {
        margin-top: 20px;
        margin-left: 30px;
    }

    .accordCard {
        width: 280px;
        margin-left: 72px;
    }

    .btn-success {
        margin-left: 10px !important;
    }

    #viewresults {
        margin-left: 5px !important;
    }

    #save {
        margin-left: 4px !important;
    }

    #emailInputBox {
        margin-left: 3px;
    }

    .btn-submit {
        margin-left: 2px !important;
    }
    .speechTitler {
        margin-left: 55px;
    }
}

@media only screen and (width: 375px) { /*iPhone 6/7/8 ONLY */
    
    .containerDiv {
        margin-left: -80px;
        width: 500px;
    }

    .carousel-inner {
        margin-left: 10px;
        max-width: 420px;
    }

    .visionDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    .teamDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    #speecherBtn {
        margin-left: 10px !important;
    }

    .accordCard {
        width: 280px;
        margin-left: 62px;
    }
    
    #save {
        margin-left: 4px !important;
    }

    #emailInputBox {
        margin-left: 3px;
    }

    .btn-submit {
        margin-left: 2px !important;
    }

    .container {
        text-align: center;
        max-height: 700px;
        margin-bottom: 10px;
    }

    #title {
        margin-left: 35px;
        text-align: center;
        width: 250px;
    }
    .darker {
        width: 365px;
    }
    .speechTitler {
        margin-left: 120px;
    }
}

   

     @media only screen and (width: 320px) { /*iPhone 5/SE ONLY */
    
    .containerDiv {
        margin-left: -80px;
        width: 500px;
    }

    .carousel-inner {
        margin-left: 10px;
        max-width: 420px;
    }

    .visionDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    .teamDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    #speecherBtn {
        margin-left: 10px !important;
    }

    .accordCard {
        width: 280px;
        margin-left: 52px;
    }

    .btn-success {
        margin-left: 45px !important;
    }
    
    #save {
        margin-left: 4px !important;
    }

    #emailInputBox {
        margin-left: 3px;
    }

    .btn-submit {
        margin-left: 2px !important;
    }

    .container {
        margin-left: 25px;
        text-align: center;
        max-height: 700px;
        margin-bottom: 10px;
    }

    #title {
        margin-left: 55px;
        text-align: center;
        width: 250px;
    }
    .darker {
        width: 365px;
    }

    #viewresults {
        margin-left: 10px !important;
    }
    
    #results {
        margin-left: 12px !important;
    }
    .speechTitler {
        margin-left: 80px;
    }
}


@media only screen and (width: 414px) { /*iPhone 6/7/8+ ONLY */
    .containerDiv {
        margin-left: -80px;
        width: 500px;
    }

    .carousel-inner {
        margin-left: 10px;
        max-width: 420px;
    }

    .visionDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    .teamDiv {
        margin-top: 20px;
        margin-left: 20px;
    }

    #speecherBtn {
        margin-left: 10px !important;
    }

    .accordCard {
        width: 280px;
        margin-left: 72px;
    }

    .btn-success {
        margin-left: 5px !important;
    }
    
    #save {
        margin-left: 4px !important;
    }

    #emailInputBox {
        margin-left: 3px;
    }

    .btn-submit {
        margin-left: 2px !important;
    }

    .container { /*Contact form*/
        text-align: center;
        max-height: 700px;
        margin-bottom: 10px;
    }

    #title {
        margin-left: 55px;
        text-align: center;
        width: 250px;
    }
    .darker {
        width: 414px;
    }

    #viewresults {
        margin-left: 10px !important;
    }
    
    #results { /*View Speeches Btn*/ 
        margin-left: 22px !important;
    }

}
    