@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: "Lato", sans-serif;
    color: black;
}

.darker {
    color: black;
}
body {
    background-image: url('./components/Layouts/keys.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerDiv {
    min-width: 140px;
    max-width: 1500px;
    padding: 10px 20px 40px 80px;
}

.methods {
    min-width: 290px;
    max-height: 900px;
}

.footer {
    text-align: center;
    color: white;
}	

#btn-aquaColor {
   background-color: rgb(74, 192, 153);
   border-bottom-color:  rgb(125, 226, 226);
}

.aqua {
    background-color: rgb(74, 192, 153);
    border-bottom-color:  rgb(125, 226, 226);
}

.speechDeleter {
    background-color: crimson;
    color: white;
    font-size: 19px;
    width: 100px;
    margin: 0 auto;
}

.accordCard {
    width: 500px;
    margin: 0 auto;
}

.speechTitler {
    min-width: 150px;
    max-width: 300px;
    margin: 0 auto; 
}

.groupPics {
    height: 100px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

a {
    color: #1d0533;
}

.groupName {
    font-size: 30px;
    font-family: 'Georgia';
}

.voiceContainer {
    text-align: center;
    margin-top: 30px;
}

.teamFix {
    margin: right;
}

.signUpCenter {
    margin: 0 auto;
}

.carousel-inner {
    background-color: #de96e7b6;
    border-radius: 5px;
    border: 5px solid black;
    min-width: 150px;
    min-height: 250px;
}

#carouselExampleControls {
    height: 240px;
    border: 1 px;
}
.carouselTitle {
    text-align: center !important;
    font-size: 16px;
    font-weight: bold;
}
.carouselSignature {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.carousel-item {
    padding: 30px;
    text-align: center;
    font-size: 14px;
}

.visionDiv {
    /* background: linear-gradient(#ffffff, #71ffe7af); */
    background-color: #de96e7b6;
    padding: 5px;
    border: 5px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.teamDiv {
    background-color: #de96e7b6;
    padding: 5px;
    border: 5px solid #000000;
    border-radius: 5px;  
}

.methods {
    background-color: #de96e7b6;
    border: 5px solid #000000;
    margin: 50px;
    border-radius: 5px;  
}

.center {
    text-align: center;
    list-style-position: inside;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
  }

.whiteText {
    color: white
}

 
@media only screen and (width: 768px) { /*iPAD ONLY*/
    .containerDiv { /*Home Page */
        margin-left: 250px;
        padding: 20px;
        width: 600px;
    }

    .footer {
        margin-left: 350px;
    }

    #lefter {
        position: relative;
        left: -280px;
    }
    #melAdjust {
        position: relative;
        left: -250px;
        top: -10px;
    }

    #shaunaAdjust {
        position: relative;
        margin-top: -300px;
        left: 230px;
    }
  
    #chrisAdjust {
        position: relative;
        margin-top: -300px;
        left: 280px;
    }

    .voiceContainer {
        text-align: center;
    }

    .boldHR {
        border: 2px solid black;
    }

    .footer {
        margin-left: 10px;
    }

   


}
