.navbar a {
    color: rgb(17, 86, 155);
    padding: 10px 10px;
    word-wrap: normal;
    display: inline-block;
    font-size: 15px;
}

.containerDiv {
    width: 700px;
    position: relative;
    left: 140px;
}

.footer {
    position: relative;
    font-size: 15px;
    height: 48px;
    text-align: center;
    margin-top: 10px;
}	


.navbar-toggler {
    overflow: hidden;
}
.speechTitler {
    width: 350px;
    margin: 10px 150px auto auto
}

.modal-content {
    background-color: rgb(37, 57, 238);
    border: solid 1px #ffd4b6;
}

.modal-header, .modal-footer {
    border: none;
}
    
.modal-title {
    font-family:'Shadows Into Light', cursive;
  font-size: 30px;
}
    
.loginBtn {
    font-size: .9em;
    color: #fff;
    outline: none;
    border: 1px solid;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    letter-spacing: 4px;
}

.groupPics {
    height: 100px;
    border-radius: 100% !important;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.groupName {
    font-size: 30px;
    font-family: 'Georgia';
}


/*BACKGROUND IDEA*/


.voiceContainer {
    text-align: center;
    margin-top: 30px;
}
