/*HEADER COMPONENT CSS*/

.card--title {
    text-align: center;
}
  
.clip-text {
    background: url(https://media.giphy.com/media/Xlk4JrwQE7XEs/giphy.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    line-height: 100px;
    flex-shrink: 0; 
}

body {
  margin: auto;
  font-family:cormorant infant;
}

.vision {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
}

